* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}


.upper {
    background: url('001.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}


header {
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px 91px 100px;
    display: flex;
    background-color: steelblue;
   
    width: 100%;
    position: relative;
}



.logo {
    display: flex;
    align-items: center;
    font-size: 14px;
}


#imglogo img{
    height: 40px;
    margin-right: 10px;
    margin-top: 40px;
}


.logo h1{
    margin-right: 0;
    font-size: 24px;
}


.logo p {
    margin: 0;
    padding-left: 2px;
    font-size: 15px;
}


.logo h1 span {
    color: #6b409f;
}


nav {
    padding-right: 0;


   
}


nav ul li {
    justify-content: flex-end;
    align-items: center;
    display: inline-block;
}


nav ul li a {
    color: white;
    margin-left: 50px;
    padding-bottom: 10px;
    font-size: 18px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}


nav ul li a:hover {
    border-bottom: 1px solid rgb(88, 87, 87);
}


.socmed_icons {
    font-size: 20px;
}


i {
    margin-left: 18px;
}


i:hover {
    background-color: rgb(167, 164, 160);
    transition: 0.3s ease-in-out;
}


h1 {
    color: #333;
    
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    width: 100%;


}
.form-container {
    background-color: #0a4a6e;  
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Ensures both columns have the same height */
    width: 90%; /* Adjust container width */
    max-width: 1700px; /* Adjust maximum width */
   margin: 0 auto;
   min-height: 80vh;
}


.form-container .left {
    flex: 1;
    padding: 100px;

   
}
.form-container .left h4 {
    color: #f0f0c9;
    font-size: 50px;
}
.form-container .left .first-p {
    color: #f2bb05;
    font-size: 20px;
    margin: 0 0 10px 0;
} 
.form-container .left .second-p{
    color: #9a7807;
    font-size: 20px;
    margin: 0 0 10px 0;
}
.form-container .left .second-p a{
    color: #9a7807;
    font-size: 20px;
    margin: 0 0 10px 0;
}
.form-container .left a {
    color: #f0c040;
    text-decoration: none;
}
.form-container .left a:hover {
    text-decoration: underline;
}
.form-container .right {
    flex: 1;
    margin-right: 5%;
    padding: 25px;
    background-color: #0e5a7e;
    border-radius: 10px;
    height: 1%;
    align-self: center;
}
.form-container .right label {
    color: #f0f0f0;
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}
.form-container .right input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    height: 55px;
}
.form-container .right textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    height: 180px;
}
.form-container .right button {
    width: 90%;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto; 

}

.form-container .right .custom-select-wrapper .custom-select {
    width: 100px;
    padding: 10px;
    height: 10%;
}

.form-container .right button:hover {
    background-color: #333333;
}


.message-display {
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(91, 44, 111);
    border-radius: 5px;
}




.intro h2 {
    margin-top: -13px;
    color: rgb(255, 255, 255);
    background-color: rgb(91, 44, 111);
    font-family: 'Poppins', sans-serif;
    letter-spacing: -3px;
    font-size: 50px;
    font-weight: 700;
    text-align: left;
    padding: 10px 20px;
    border: solid 2px black;
    font-variant: small-caps;
}


.intro h4 {
    color: rgb(28, 40, 51);
    font-family: 'Poppins', sans-serif;
    letter-spacing: -1px;
    font-size: 37px;
    font-weight: bold;
    text-align: left;
    font-variant: small-caps;
}


.intro p {
    font-size: 19px;
    line-height: 25px;
}


.intro a {
    color: aliceblue;
    font-size: 14px;
    line-height: 50px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    margin-top: 15px;
    background-color: black;
    padding: 7px 18px 9px 16px;
    border-radius: 5px;
    transition: 0.3s;
    height: 50vh;
}


.intro a:hover {
    background-color: rgba(29, 26, 26, 0.575);
}


img.me {
    width: 100%;
    max-width: 400px;
    height: auto;
}




@media screen and (max-width: 1100px) {
    .upper {
        max-width: 900px;
    }
}


@media screen and (max-width: 900px) {
    .upper {
        max-width: 800px;
    }
    header {
        max-width: 750px;
        padding-left: 20px;
        padding-right: 20px;
    }
    nav ul li a {
        margin-left: 24px;
    }
    i {
        margin-left: 14px;
    }
}


@media screen and (max-width: 800px) {
    .upper {
        max-width: 700px;
    }
    nav {
        font-size: 15px;
        margin-left: 30px;
    }
    .logo h1 {
        font-size: 15px;
    }
    .logo p {
        font-size: 13px;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: start;
        position: relative;
    }
    .socmed_icons i {
        font-size: 23px;
        margin-left: 11px;
    }
    nav ul {
        margin-top: 18px;
    }
    nav ul li a {
        font-size: 15px;
        margin-left: 0;
        margin-right: 18px;
    }
}


@media only screen and (max-width: 768px) {
    .form-container {
        height: auto;
        padding: 20px;
        width: 90%;
    }
    .form-container .left,
    .form-container .right {
        padding: 10px;
    }
    h1 {
        font-size: 1.5rem;
    }


    button {
        font-size: 1rem;
        padding: 10px;
    }
}




@media screen and (max-width: 600px) {
    .upper {
        max-width: 460px;
    }
   
    .logo h1 {
        font-size: 11px;
    }
    .logo p {
        font-size: 8px;
    }
    nav ul {
        margin-top: 10px;
    }
    nav ul li a {
        font-size: 11px;
        margin-right: 6px;
    }
    .socmed_icons i {
        font-size: 16px;
        margin-left: 5px;
    }
    .intro h4 {
        font-size: 30px;
    }
    .intro h1 {
        font-size: 45px;
        line-height: 40px;
        margin-top: -3px;
        margin-bottom: 4px;
    }
    .intro p {
        font-size: 15px;
        line-height: 20px;
    }
}


@media screen and (max-width: 460px) {
    .upper {
        max-width: 420px;
    }
    header {
        justify-content: flex-start;
        align-items: start;
        width: 100%;
        max-width: 100%;
        margin-right: 30px;
        margin-left: 16px;
        padding: 50px 0 50px 0;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .logo h1 {
        font-size: 15px;
    }
    .logo p {
        font-size: 11px;
    }
    nav {
        margin-top: 2px;
    }
    nav ul li a {
        font-size: 17px;
        margin-left: 0;
        margin-right: 22px;
    }
    .socmed_icons {
        position: absolute;
        right: 5%;
        margin-right: 12px;
        margin-top: 8px;
    }
    .socmed_icons i {
        font-size: 22px;
        margin-left: 10px;
    }
    .container {
        flex-direction: column;
        margin-left: 16px;
        padding-left: 0;
    }
    .intro,
    .intro h1,
    .intro h4 {
        text-align: center;
    }
    .intro h1 {
        line-height: 40px;
        margin: 5px 0 5px 0;
    }
    img.me {
        top: 50%;
        left: 10px;
    }
}


@media screen and (max-width: 400px) {
    .upper {
        max-width: 325px;
        padding-left: 0;
    }
    nav ul li a {
        font-size: 15px;
        margin-right: 14px;
    }
    .socmed_icons {
        margin-right: 0;
        font-size: 20px;
    }
    .logo {
        font-size: 10px;
    }
}


@media screen and (max-width: 325px) {
    .upper {
        max-width: 240px;
    }
    header {
        margin-left: 5px;
    }
    .logo p,
    h1 {
        font-size: 12px;
    }
    nav {
        padding-right: 0;
    }
    nav ul li a {
        font-size: 11px;
        margin-right: 10px;
        margin-top: 0;
    }
    .socmed_icons {
        font-size: 15px;
        right: 1%;
        margin-top: 14px;
    }
    .socmed_icons i {
        margin-left: 7px;
        font-size: 16px;
    }
}

/* Side Bar */
.menu-button {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
}


.menu-button:hover {
    transform: scale(1.1);
}


/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    right: -320px; /* Initially hidden */
    width: 320px;
    height: 100%;
    background-color: white;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease; /* Smooth slide animation */
    z-index: 1000;
    overflow-y: auto;
}


/* Sidebar when open */
.sidebar.open {
    right: 0; /* Slide into view */
}


/* Sidebar header */
.sidebar-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}


.close-btn {
    font-size: 24px;
    border: none;
    background: none;
    color: #555;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
}


.close-btn:hover {
    color: #ff4d4d;
    transform: rotate(90deg);
}


/* Sidebar content */
.sidebar-content {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: #333;
}


.sidebar-content h1 {
    font-size: 24px;
    color: #004080;
    margin-bottom: 10px;
    text-align: center;
}


.sidebar-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}


.sidebar-content strong {
    color: #004080;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.upper {
    background: url('001.jpg') no-repeat center center/cover;
    width: 100%; 
    height: 100vh; 
}



.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    color: white;
    margin-left: 50px;
    padding-bottom: 10px;
    
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
}



nav ul li a:hover {
    color: #B794F4;
    border-bottom: 2px solid #B794F4;
}
